.create_delivery_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.create_delivery_form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.create_delivery_form_wrapper.create_delivery_form_fields_container {
  max-width: 460px;
}

.create_delivery_buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.create_delivery_button {
  max-width: 220px;
  width: 100%;
}