.typography {
  color: var(--color-black);
}

.typography.variant_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
}

.typography.variant_regular {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.typography.variant_small {
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
}

.typography.variant_extra-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 133%;
}