.header {
  padding: 24px 0;
  border-bottom: 1px solid #CED2DA;
}

.header_container {
  display: flex;
  align-items: center;
}

.auth_button {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 0 auto;
  font-weight: 500;
}

.header_navigation_list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 0 0 32px;
}

.header_navigation_link {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 600;
  transition: color 0.1s linear;
}

.header_navigation_link.active, .header_navigation_link:hover {
  color: var(--color-primary);
  stroke: var(--color-primary);
}